@use "./base.scss";
@use "sass:color";

:root {
  --callout-deepdive: #6c63ff;
  --callout-legal: #2980b9;
  --callout-case: #27ae60;
  --callout-concept: #7f8c8d;
  --callout-danger: #e74c3c;
}

body.dark {
  --callout-deepdive: #a5a1ff;
  --callout-legal: #5dade2;
  --callout-case: #58d68d;
  --callout-concept: #aab7b8;
  --callout-danger: #ec7063;
}

.callout[data-callout="deepdive"] {
  --color: var(--callout-deepdive);
  --border: color.mix(#000, var(--callout-deepdive), 15%);
  --bg: color.mix(#fff, var(--callout-deepdive), 92%);
}

.callout[data-callout="legal"] {
  --color: var(--callout-legal);
  --border: color.mix(#000, var(--callout-legal), 15%);
  --bg: color.mix(#fff, var(--callout-legal), 92%);
}

.callout[data-callout="case"] {
  --color: var(--callout-case);
  --border: color.mix(#000, var(--callout-case), 15%);
  --bg: color.mix(#fff, var(--callout-case), 92%);
}

.callout[data-callout="concept"] {
  --color: var(--callout-concept);
  --border: color.mix(#000, var(--callout-concept), 15%);
  --bg: color.mix(#fff, var(--callout-concept), 92%);
}

.callout[data-callout="danger"] {
  --color: var(--callout-danger);
  --border: color.mix(#000, var(--callout-danger), 15%);
  --bg: color.mix(#fff, var(--callout-danger), 92%);
}
